# Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Environment variables file
.env

# macOS-specific files
.DS_Store

# GitHub workflows cache
.github/workflows/*.yaml~

# Test binary files and cache
testdata/
*.test
*.out

# IDE specific
.idea/
.vscode/
